:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Playfair Display", serif;
  --primary-font: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0 30px 0;
  font-family: var(--primary-font);
}

.homepage-intro-background {
  background-color: var(--secondary-color);
}

.homepage-intros {
  margin-top: 100px;
}

.text-container {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.custom-navbar-bg {
  font-family: var(--secondary-font);
  background-color: #f8f9fa;
}

.custom-navbar-active {
  color: var(--primary-color);
  padding: 8px;
}

.custom-navbar-link {
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}

.custom-navbar-link:hover,
.custom-navbar-active:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

footer {
  max-width: 100%;
  background-color: #f8f9fa;
  padding: 20px 10px;
  margin-top: 30px;
  font-size: 14px;
  font-family: var(--primary-font);
}

.footer-icons {
  text-align: center;
  font-size: 16px;
}

/* spacing and styles for beginning intro section of each page */
.page-introductions {
  padding: 10px 0px;
  margin: 20px 0 40px;
}

/*
.navigation-links {
  display: flex;
  margin: 15px;
  justify-content: center;
}

.navigation-links a {
  margin: 15px;
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
*/

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 90%;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-family: var(--primary-font);
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  .primary-link {
    font-size: 14px;
  }

  .homepage-intros {
    margin: 10px 0;
  }

  .small-app-image {
    margin: 20px 0px 20px;
  }

  .navigation-links {
    font-size: 13px;
  }

  .text-container {
    max-width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .homepage-intros {
    margin: 30px 0 20px;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .primary-link {
    font-size: 14px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .homepage-intros {
    margin: 80px 0 20px;
  }
}
