:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Playfair Display", serif;
  --primary-font: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
}

.content-container {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0 30px 0;
  font-family: var(--primary-font);
}

a {
  color: var(--primary-color);
}

li {
  font-family: var(--primary-font);
}

.homepage-intro-background {
  background-color: var(--secondary-color);
}

.homepage-intros {
  margin-top: 100px;
}

.custom-navbar-bg {
  font-family: var(--secondary-font);
}

.custom-navbar-active {
  color: var(--primary-color);
  padding: 8px;
}

.custom-navbar-link {
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}

.custom-navbar-link:hover,
.custom-navbar-active:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

footer {
  padding: 20px 10px;
  margin: 30px 0 20px;
  font-size: 14px;
  font-family: var(--primary-font);
}

.footer-icons {
  text-align: center;
  font-size: 18px;
  background-color: var(--secondary-color);
  padding: 20px 24px;
  border-radius: 60%;
}

.footer-icons:hover {
  background-color: var(--primary-color);
  color: white;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-family: var(--primary-font);
}

.primary-link:hover {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  border-radius: 4px;
  padding: 10px;
  font-family: var(--primary-font);
}
/* spacing and styles for beginning intro section of each page */
.page-introductions {
  margin-top: 20px;
}

.page-introductions h1 {
  font-size: 64px;
}

.page-lists {
  list-style: none;
  padding: 0;
}

/* home page custom style */
.work-link {
  text-align: center;
}

.mentor-link {
  text-align: right;
}

/* about page custom style */
.about-photos {
  filter: grayscale(100%);
  margin-top: 60px;
}
.about-photos:hover {
  transform: scale(1.2);
}

/* work page custom style */
.google-gif {
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

/*mentoring custom style */
.sign-up-prompt {
  padding: 20px;
  margin: 10px;
}

.sign-up-link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  .primary-link {
    font-size: 12px;
  }

  .homepage-intros {
    margin: 10px 0;
  }

  .small-app-image {
    margin: 20px 0px 20px;
  }

  .navigation-links {
    font-size: 13px;
  }

  .work-link {
    text-align: left;
  }

  .mentor-link {
    text-align: left;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .homepage-intros {
    margin: 30px 0 20px;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .primary-link {
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .homepage-intros {
    margin: 80px 0 20px;
  }
}
