.travel-container {
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/travel/voltaire_lighthouse_landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px;
  margin: 40px 0;
  color: white;
}

header h1 {
  line-height: 1;
  font-size: 90px;
  letter-spacing: 3px;
}

header h3 {
  line-height: 1.5;
  font-size: 30px;
  margin: 50px 0;
  letter-spacing: 3px;
}

footer p {
  font-size: 16px;
  line-height: 1;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 0 auto;
  grid-gap: 20px;
  padding: 60px 0;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/travel/lisbon.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

@media (max-width: 800px) {
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  header {
    padding: 60px;
  }

  header h1 {
    font-size: 45px;
  }

  header h3 {
    font-size: 24px;
  }

  footer p {
    font-size: 12px;
  }

  footer {
    text-align: left;
  }

  footer h3 {
    font-size: 18px;
    text-align: left;
  }
}
