header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/travel/voltaire_lighthouse_landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px;
  margin: 40px;
  color: white;
}

header h1 {
  line-height: 1;
  font-size: 90px;
  letter-spacing: 3px;
}

header h3 {
  line-height: 1.5;
  font-size: 30px;
  margin: 50px 0;
  letter-spacing: 3px;
}
