:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Playfair Display", serif;
  --primary-font: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--primary-font);
}

.custom-navbar-bg {
  font-family: var(--secondary-font);
}

.custom-navbar-active {
  color: var(--primary-color);
  padding: 8px;
}

.custom-navbar-link {
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}

.custom-navbar-link:hover,
.custom-navbar-active:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

/*travel specific page style*/

.travel-container {
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/travel/voltaire_lighthouse_landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px;
  margin: 40px 0;
  color: white;
}

header h1 {
  line-height: 1;
  font-size: 90px;
  letter-spacing: 3px;
}

header h3 {
  line-height: 1.5;
  font-size: 30px;
  margin: 50px 0;
  letter-spacing: 3px;
}

footer h3 {
  font-size: 20px;
}

footer p {
  font-size: 14px;
  line-height: 1;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 0 auto;
  grid-gap: 64px;
  padding: 60px 0;
  max-width: 90%;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/travel/lisbon.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
}

h2 {
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 60px;
  background-color: rbga(211, 211, 211);
}

.image-gallery img {
  width: 100%;
  aspect-ratio: 1/1;
  filter: drop-shadow(0px 10px 5px #898181);
}

.song-embed {
  width: 400px;
  aspect-ratio: 1/1;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    max-width: 100%;
    grid-gap: 10px;
  }

  header {
    padding: 60px;
  }

  header h1 {
    font-size: 45px;
  }

  header h3 {
    font-size: 24px;
    margin: 20px 0;
  }

  footer h3 {
    font-size: 18px;
    text-align: left;
    text-align: left;
  }

  footer p {
    font-size: 12px;
  }

  section h2 {
    font-size: 18px;
  }

  .image-gallery {
    padding: 20px;
    grid-gap: 5px;
  }

  .song-embed {
    width: 200px;
  }
}
